/*Nav bar styyles starts here*/

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4%;
  height: 8%;
  width: 100%;
  background: rgba(61, 57, 49);
  top: 0;
  z-index: 5;
  position: fixed;
  color: white;
}
.navbar-link-item{
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: x-large;
}
.YouTube-icon{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;

}
.youtube-logo{
  color: rgba(255, 10, 10);
  font-size: xx-large;
}
.YouTube-icon span{
  font-size: x-large;
  font-weight:500;
}
.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.search-field{
  background-color: rgb(24 24 27 );
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-inline: 1rem;
  padding-right: 0;
}
.search-icon{
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 5%;
}
.search{
  font-size: x-large;
}
.close-icon{
  font-size: x-large;
  cursor: pointer;
}
.search-button{
  display: flex;
  width: 16%;
  align-items: center;
  height: 2rem;
  justify-content: center;
  font-size: x-large;
}
.input-field{
  height: 2rem;
  width: 24rem;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(24 24 27);
}
.search{
  background: grey;
  padding: 10px;
  font-size: 4rem;
  height: 2.4rem;
}
.microphone{
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.75rem;
  background-color: rgb(24 24 27);
  border-radius: 9999px;
}
.camera-notification{
  font-size: 1.25rem;
  line-height: 1.75rem;
  gap: 1.25rem;
  align-items: center;
  display: flex;
}
.relative{
  position: relative;
}
.notifications{
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: rgb(220 38 38);
  border-radius: 9999px;
  left: 0.5rem;
  bottom: 0.5rem;
  position: absolute;
}
img{
  border-radius: 9999px;
  width: 2.25rem;
  height: 2.25rem;
}
/*Navbar style ends here*/

/*Sidebar component starts here*/

.sidebar{
  padding-bottom: 2rem;
  padding-right: 1.25rem;
  background-color: rgb(255 255 255 );
  overflow: auto;
  width: 16.666667%;
}
.main-links{
  background-color: rgb(255 255 255);
  border-bottom-width: 2px;
  flex-direction: column;
}
.link-list{
  padding-left: 1.5rem;
  padding-block: 1rem;
  padding-right: 0.75rem;
}
.link-list:hover{
  color: red;
}
.link-list a{
  gap: 1.25rem;
  align-items: center;
  display: flex;
}
.link-list span{
  letter-spacing: 0.05em;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.footer-span{
  color: rgb(161 161 170);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-inline: 1rem;
}
.footer-paragraph{
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.75rem;
  padding-inline: 1rem;
}
